.country{
  width: 380px;
  height: 640px;
  text-align: center;
}

#heading{
  font-family: Nunito;
  font-size: 80px;
  padding: 0;
  margin: 0;
  margin-top: 9%;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.Main{
  height: 100vh;
}

.parts{
  display: flex;
  align-items: center;
  justify-content: center;
}

.part1{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part2{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 980px){
  .parts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .part1{
    margin-bottom: 20px;
  }
}
.endVote{
  width:100%;
  text-align: center;
}