* {
  margin: 0;
  padding: 0;
}
html,body {
	height: 100%;
}
.FlexContainer{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.RightContainer {
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #F6DBA6;
  font-size: 22px;
  font-family: Nunito;
  font-weight: bolder;
  background-color: #511926;
} 
.LeftContainer{
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: #310B14;
}
.VotingButton{
  margin-top:60px;
}
.MunImage1{
  flex: 1;
  width: 30vw;
}
.MunImage2{
  width: 150px;
}
.CouncilImage{
  flex: 1;
  width:30vw;
}

.DashboardHeading{
  color:#F6DBA6;
  font-size:32px;
  /* margin-left:40px; */
  font-family: "Nunito";
  /* margin-top:-98px; */
}


.Cardboard{
  background: #310B14;
  width: 14rem;
  border-width: 4px;
  border-color: #310B14;
  padding: 0px;
  border-radius: 10px;
  height:18rem;
  position: relative;
}

.PollImage{
  position: absolute;
  top : 0px;
  left : 0px;
  width:14rem;
  height:auto;
  margin : 0px;
  padding: 0px;
}

.Vote{
  background : #310B14;
  padding: 3px;
  border-color: #F6DBA6;
  height: 40px;
  color: #F6DBA6;
  position: absolute;
  bottom : 0px;
  left : 4rem;
  margin-bottom: 11px;
}

/* @media(max-width:1440px) and (min-width:320px)
{
  .App{
    margin:0 auto;
    height: 100vh;
    width: 100vw;
  }
  .VotingButton{
    display: table;
    margin: auto;
    margin-top: 130px;
  }
  
} */