.end{
    width:160px;
    padding:10px 30px;
    border-radius: 40px;
    margin:15px;
    font-size: 20px;
    background-color: #834b56;
    color: #ffffd8;
    border: none;
    font-weight: 100;
    border: 1px solid black;
}